.main-footer {
    width: 100%;
    border-top: 1px outset rgba(0, 0, 0, 0.2);
}

.main-footer-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1260px;
    padding: 10px 20px 10px 20px;
    align-items: center;

    &-copyrights {
        font-size: small;
        opacity: 0.6;
        letter-spacing: 1px;
    }

    &-payments-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 300px;
            
        li {
            display: flex;
            align-items: center;
            
        }

        li:last-child {
            margin-right: 0px;
            padding-right: 0px;
        }
            
        svg {
            opacity: 0.6;
            width: 20px;
            height: auto;
        }
    }
}