.how-to-sleep {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 200px auto 0 0;
    width: 700px;

    &-container {
        margin-right: 2%;

        &-title {
            font-family: 'Inria Sans', sans-serif;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 50px;
            line-height: .9;
            letter-spacing: 5px;
            text-transform: uppercase;
        }

        &-description {
            font-family: 'Inria Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 17px;
        }
    }
}