.slider-section {
    text-align: center;
    position: relative;
    margin-top: 50px;

    &-information {
        margin: 10% 0 5% 0;
        &-header {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 50px;
            font-family: 'Inria Sans', sans-serif;
            letter-spacing: 3px;
        }
    
        &-description {
            margin-top: 10px;
            font-size: 14px;
            font-family: 'Inria Sans', sans-serif;
            letter-spacing: 1px;
            line-height: 15px;
        }
    }

    &-lines {
        position: absolute;
        top: 47%;
        left: 37.5%;
    }

    &-coffee {
        width: 280px;
        margin: 0 70px 0 70px;
    }

    &-container {
        position: absolute;
        top: 87%;
        left: 45%;
        &-name {
            font-family: 'Inria Sans', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 22px;
        }
    
        &-price {
            @extend .slider-section-container-name;
            font-size: 16px;
            letter-spacing: normal;
        }
    
        &-buttons {
            margin-top: 15px;
            &-item {
                width: 45px;
                height: 45px;
                padding: 12px;
                background-color: white;
                box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.092);
                border-radius: 50px;
                margin-inline: 10px;
                cursor: pointer;
                transition: transform .4s ease;
            }
            &-item:hover {
                transform: translateY(-7%);
            }
        }
    }
}

.active {
    width: 320px;
    transform: translateY(-10%);
}

.slider-section::before {
    content: "";
    width: 20%;
    height: 480px;
    position: absolute;
    left: 39.5%;
    top: 25%;
    background-color: #ee5454c9;
    background: linear-gradient(to bottom, #ed3f3fc9, #ee545465);
    border-radius: 400px;
    z-index: -1;
}