.slider-section {
    text-align: center;
    position: relative;
    height: 500px;

    &-information {
        margin: 10% 0 5% 0;
        &-header {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 50px;
            font-family: 'Inria Sans', sans-serif;
            letter-spacing: 3px;
        }
    
        &-description {
            margin-top: 10px;
            font-size: 14px;
            font-family: 'Inria Sans', sans-serif;
            letter-spacing: 1px;
            line-height: 15px;
        }
    }

    &-lines {
        position: absolute;
        top: 53%;
        left: 37.5%;
    }

    &-buttons {
        &-item {
            width: 45px;
            height: 45px;
            padding: 12px;
            background-color: white;
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.092);
            border-radius: 50px;
            margin-inline: 10px;
            margin-top: 25%;
            cursor: pointer;
            transition: transform .4s ease;
        }
        &-item:hover {
            transform: translateY(-7%);
        }
    }

    &-container {
        z-index: -1;
        position: absolute;
        top: 22%;
        left: 41.5%;
        max-width: 100%;
        height: 100%;
        opacity: 0;
        transition: var(--transition);
        
        &-name {
            font-family: 'Inria Sans', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 22px;
        }
    
        &-price {
            @extend .slider-section-container-name;
            font-size: 16px;
            letter-spacing: normal;
        }
        
        &-coffee {
            width: 280px;
        }
    }
}

.activeSlide {
    opacity: 1;
    transform: translateX(0);           
}

.lastSlide {
    transform: translateX(-100%);
}

.nextSlide {
    transform: translateX(100%);
}

.slider-section::before {
    content: "";
    width: 20%;
    height: 480px;
    position: absolute;
    left: 39.5%;
    top: 25%;
    background-color: #ee5454c9;
    background: linear-gradient(to bottom, #ed3f3fc9, #ee545465);
    border-radius: 400px;
    z-index: -1;
}