.video-section {
    width: 100%;
    margin: 16% 0 10% 0;
    display: flex;
    justify-content: center;
    position: relative;

    &-item {
        border-radius: 50px;
    }

    &-img {
        position: absolute;
        top: -70%;
        width: 60%;
        z-index: -1;
    }
}

.video-section::before {
    content: "";
    width: 15%;
    height: 500px;
    position: absolute;
    top: -28%;
    background-color: #f376297d;
    border-radius: 400px;
    z-index: -1;
}