.products-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 2%;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;

    &-title {
        text-transform: uppercase;
        font-weight: normal;
        margin: 0 5px;
        letter-spacing: 1px;
        transform: scale(1, 0.9)
    }

    &-img {
        width: 70%;
        height: auto;
    }
    
    &-flavours {
        overflow: hidden;
        font-size: 16px;
        margin: 0 5px;
        letter-spacing: 1px;
        transform: scale(1, 0.9)
    }

    &-price {
        font-size: larger;
        font-weight: bold;
    }

    &-button {
        position: relative;
        font-size:medium;
        letter-spacing: 1px;
        width: 50%;
        border: none;
        padding: 5%;
        background: linear-gradient(#ed3f3fab, #ee54549d);
        border-radius: 40px;
        cursor: pointer;
        color: white;
    }

    &-button::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        width: 1.5em;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        transform: translateX(-4em) skewX(-45deg);
        overflow: hidden;
    }
    
    &-button:hover::before {
        animation: move-light .8s;
    }
    
    @keyframes move-light {
        from {
            transform: translateX(-50px) skewX(-45deg);
        }
        to {
            transform: translateX(170px) skewX(-45deg);
        }
    }

    &-strength {
        display: flex;
        align-items: center;
        &-img {
            margin-left: 5px;
            width: auto;
            height: 40px;
        }
    }
}
