.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 1260px;

    &-logo {
        width: 150px;
        margin: 10px 400px 10px 0;
    }

    &-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 700px;
        margin-right: 0;
        
        a {
            text-decoration: none;
            color: black;
        }
        
        &-item {
            position: relative;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 17px;
            cursor: pointer;
            transition: border-bottom .4s ease-out;

            &-icon {
                transform: translateY(8px);
                margin-left: 10px;
                width: 25px;
                height: 25px;
            }

            &-icon:hover {
                transition: opacity 0.1s ease-out;
                opacity: 0.6;
            }

        }

        &-item:not(:nth-last-child(-n + 2))::before {
            content: '';
            position: absolute;
            left: 0; 
            bottom: -5px;  
            width: 0%;
            height: 1.5px;
            background-color: black;
            transition: width .4s ease-out;
        }

        &-item:not(:nth-last-child(-n + 2)):hover::before {
            width: 100%;
        }

    }
}