.coffee-bag {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50rem;

    &-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 500px;
        padding: 0 100px 0 100px ;
        margin-top: 50px;
    
        &-introducing {
            display: flex;
            flex-direction: column;
            justify-content: start;
    
            &-par {
                font-size: 30px;
                font-weight: 600;
                line-height: 1.1;
                letter-spacing: 1px;
                font-family: 'Inria Sans', sans-serif;
                text-transform: uppercase;
            }
    
            &-lines {
                margin-top: 25px;
                width: 60px;
            }
        }
    
        &-image {
            width: 350px;
            height: 475px;
        }
    
        &-stepped {
            &-kernels {
                width: 200px;
            }

            &-par {
                font-size: 40px;
                font-weight: 700;
                line-height: .9;
                letter-spacing: 5px;
                font-family: 'Inria Sans', sans-serif;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 3%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: #febd97;
        border: none;
        color: white;
        border-radius: 50px;
        cursor: pointer;

        &-arrow {
            animation-duration: 2s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            margin-top: 35%;
            width: 25px;
            height: 25px;

            @keyframes slidein {
                from {
                    transform: translateY(0px);
                }
            
                to {
                    transform: translateY(8px);
                }
            }
        }

        &-dot {
            width: 25px;
            height: 25px;
        }
    }
}