.cup-coffee-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;

    &-cup {
        margin-right: 12%;
    }
    
    &-container {   
        width: 30%;
        text-align: center;
        margin-top: 8%;

        &-commas {
            width: 190px;
        }

        &-quotation {
            margin: 4% 0;
            line-height: 1.1;
            font-weight: 500;
            font-size: 20px;
        }

        &-author {
            @extend .cup-coffee-section-container-quotation;
            font-weight: 700;
            font-size: 22px;
        }
    }
}