.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10% 10px 10%;
    align-items: center;
    border-top: 1px outset rgba(0, 0, 0, 0.2);

    &-copyrights {
        p {
            font-size: small;
            opacity: 0.6;
        }
    }

    &-payments {
        width: 20%;

        &-list {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            
            li {
                display: flex;
                align-items: center;
            }
            
            svg {
                opacity: 0.6;
                width: 20px;
                height: auto;
            }
        }
    }
}